In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test = pd.read_csv('../datasets/test.csv')
test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [3]:
test.shape

(878, 80)

In [4]:
test.dtypes

Id                int64
PID               int64
MS SubClass       int64
MS Zoning        object
Lot Frontage    float64
                 ...
Misc Feature     object
Misc Val          int64
Mo Sold           int64
Yr Sold           int64
Sale Type        object
Length: 80, dtype: object

In [5]:
test.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    160
               ...
Misc Feature    837
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
Length: 80, dtype: int64

In [6]:
test.columns = test.columns.str.replace(' ', '_')

In [7]:
trainteger = test

In [8]:
trainteger.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,3Ssn_Porch,Screen_Porch,Pool_Area,Pool_QC,Fence,Misc_Feature,Misc_Val,Mo_Sold,Yr_Sold,Sale_Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [9]:
notcorr_keys = ['BsmtFin_SF_2', 'Pool_Area', 'Mo_Sold', '3Ssn_Porch', 'Screen_Porch', 'Bedroom_AbvGr', 
                'Bsmt_Unf_SF', '2nd_Flr_SF', 'Half_Bath', 'Bsmt_Full_Bath', 'Lot_Area']
subzero_keys = ['PID', 'Enclosed_Porch', 'Kitchen_AbvGr', 'Overall_Cond', 'MS_SubClass', 
                 'Id', 'Bsmt_Half_Bath', 'Low_Qual_Fin_SF', 'Yr_Sold', 'Misc_Val']

In [10]:
trainnegcorrelated = trainteger[subzero_keys]
trainnegcorrelated

,PID,Enclosed_Porch,Kitchen_AbvGr,Overall_Cond,MS_SubClass,Id,Bsmt_Half_Bath,Low_Qual_Fin_SF,Yr_Sold,Misc_Val
0,902301120,112,2,8,190,2658,0,0,2006,0
1,905108090,0,2,4,90,2718,0,0,2006,0
2,528218130,0,1,5,60,2414,0,0,2006,0
3,902207150,184,1,6,30,1989,0,0,2007,0
4,535105100,0,1,5,20,625,0,0,2009,0
...,...,...,...,...,...,...,...,...,...,...
873,527377110,0,1,6,60,1662,0,0,2007,0
874,535126140,0,1,7,60,1234,0,0,2008,0
875,904100040,0,1,5,20,1373,0,0,2008,0
876,527425140,0,1,6,20,1672,0,0,2007,0
877,535327160,0,1,5,20,1939,0,0,2007,0

In [11]:
trainnegcorrelated.isnull().sum()

PID                0
Enclosed_Porch     0
Kitchen_AbvGr      0
Overall_Cond       0
MS_SubClass        0
Id                 0
Bsmt_Half_Bath     0
Low_Qual_Fin_SF    0
Yr_Sold            0
Misc_Val           0
dtype: int64

In [12]:
trainnocorrelated = trainteger[notcorr_keys]
trainnocorrelated

,BsmtFin_SF_2,Pool_Area,Mo_Sold,3Ssn_Porch,Screen_Porch,Bedroom_AbvGr,Bsmt_Unf_SF,2nd_Flr_SF,Half_Bath,Bsmt_Full_Bath,Lot_Area
0,0,0,4,0,0,4,1020,1020,0,0,9142
1,0,0,8,0,0,6,1967,0,0,0,9662
2,0,0,9,0,0,3,100,832,1,1,17104
3,0,0,7,0,0,2,968,0,0,0,8520
4,0,0,7,0,185,3,785,0,1,1,9500
...,...,...,...,...,...,...,...,...,...,...,...
873,153,0,11,0,0,4,0,793,1,1,8000
874,0,0,8,0,0,4,529,884,1,0,14670
875,492,0,8,0,0,3,210,0,0,0,8250
876,0,0,5,0,0,3,248,0,0,0,9000
877,0,0,3,0,0,3,130,0,0,1,8400

In [13]:
trainnocorrelated.isnull().sum()

BsmtFin_SF_2      0
Pool_Area         0
Mo_Sold           0
3Ssn_Porch        0
Screen_Porch      0
Bedroom_AbvGr     0
Bsmt_Unf_SF       0
2nd_Flr_SF        0
Half_Bath         0
Bsmt_Full_Bath    0
Lot_Area          0
dtype: int64

In [14]:
poslowlycorrelated = trainteger[['Wood_Deck_SF', 'Open_Porch_SF', 'Lot_Frontage', 'BsmtFin_SF_1', 'Fireplaces']]
poslowlycorrelated

     Wood_Deck_SF  Open_Porch_SF  Lot_Frontage  BsmtFin_SF_1  Fireplaces
0               0             60          69.0             0           0
1             170              0           NaN             0           0
2             100             24          58.0           554           1
3               0              0          60.0             0           0
4               0             76           NaN           609           2
..            ...            ...           ...           ...         ...
873             0             96          80.0           931           1
874             0            230          90.0           575           1
875             0             63          55.0           250           1
876             0              0          60.0           616           0
877            81              0          70.0           793           2

[878 rows x 5 columns]

In [15]:
poslowlycorrelated.isnull().sum()

Wood_Deck_SF       0
Open_Porch_SF      0
Lot_Frontage     160
BsmtFin_SF_1       0
Fireplaces         0
dtype: int64

In [16]:
poslowlycorrelated['Lot_Frontage'].min()

21.0

In [17]:
lot = test[['Lot_Frontage', 'Lot_Area', 'Lot_Shape', 'Lot_Config']]

In [18]:
lotnan = np.where(pd.isnull(poslowlycorrelated['Lot_Frontage']))

In [19]:
lot.iloc[lotnan]

     Lot_Frontage  Lot_Area Lot_Shape Lot_Config
1             NaN      9662       IR1     Inside
4             NaN      9500       IR1     Inside
7             NaN      9286       IR1    CulDSac
13            NaN      7976       Reg     Inside
20            NaN      8246       IR1     Inside
..            ...       ...       ...        ...
853           NaN      7032       IR1     Corner
859           NaN      8780       IR1     Corner
866           NaN      7777       IR1     Inside
867           NaN      5062       IR1    CulDSac
869           NaN     36500       IR1     Inside

[160 rows x 4 columns]

In [20]:
trainteger['Lot_Frontage'] = trainteger['Lot_Frontage'].fillna(0)

In [21]:
trainteger.iloc[lotnan]

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,3Ssn_Porch,Screen_Porch,Pool_Area,Pool_QC,Fence,Misc_Feature,Misc_Val,Mo_Sold,Yr_Sold,Sale_Type
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD
7,858,907202130,20,RL,0.0,9286,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,10,2009,WD
13,818,906230030,90,RL,0.0,7976,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,10,2009,WD
20,222,905105070,20,RL,0.0,8246,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,MnPrv,NaN,0,5,2010,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,2582,535301010,90,RL,0.0,7032,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,12,2006,WD
859,984,923275140,20,RL,0.0,8780,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,MnPrv,NaN,0,3,2009,WD
866,2271,916460020,20,RL,0.0,7777,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,11,2007,WD
867,1633,527182170,160,RL,0.0,5062,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2007,WD
869,2765,906426090,20,RL,0.0,36500,Pave,NaN,IR1,Low,...,0,0,0,NaN,NaN,NaN,0,6,2006,WD

In [22]:
trainteger.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,3Ssn_Porch,Screen_Porch,Pool_Area,Pool_QC,Fence,Misc_Feature,Misc_Val,Mo_Sold,Yr_Sold,Sale_Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [23]:
posmoderatelycorrelated = trainteger[['TotRms_AbvGrd', 'Mas_Vnr_Area', 'Garage_Yr_Blt', 'Full_Bath', 'Year_Remod/Add', 'Year_Built', '1st_Flr_SF', 'Total_Bsmt_SF', 'Garage_Cars', 'Garage_Area', 'Gr_Liv_Area']]
posmoderatelycorrelated

,TotRms_AbvGrd,Mas_Vnr_Area,Garage_Yr_Blt,Full_Bath,Year_Remod/Add,Year_Built,1st_Flr_SF,Total_Bsmt_SF,Garage_Cars,Garage_Area,Gr_Liv_Area
0,9,0.0,1910.0,2,1950,1910,908,1020,1,440,1928
1,10,0.0,1977.0,2,1977,1977,1967,1967,2,580,1967
2,7,0.0,2006.0,2,2006,2006,664,654,2,426,1496
3,5,0.0,1935.0,1,2006,1923,968,968,2,480,968
4,6,247.0,1963.0,1,1963,1963,1394,1394,2,514,1394
...,...,...,...,...,...,...,...,...,...,...,...
873,8,0.0,1974.0,2,1974,1974,1084,1084,2,488,1877
874,9,410.0,1966.0,2,1999,1966,1104,1104,2,480,1988
875,5,0.0,1968.0,1,1968,1968,1211,952,1,322,1211
876,5,0.0,1974.0,1,1971,1971,864,864,2,528,864
877,5,0.0,1955.0,1,1955,1955,925,923,1,390,925

In [24]:
modcornan = posmoderatelycorrelated.isnull()
posmoderatelycorrelated.isnull().sum()

TotRms_AbvGrd      0
Mas_Vnr_Area       1
Garage_Yr_Blt     45
Full_Bath          0
Year_Remod/Add     0
Year_Built         0
1st_Flr_SF         0
Total_Bsmt_SF      0
Garage_Cars        0
Garage_Area        0
Gr_Liv_Area        0
dtype: int64

In [25]:
posmoderatelycorrelated['Mas_Vnr_Area'].min()

0.0

In [26]:
masvnr = test[['Mas_Vnr_Area', 'Mas_Vnr_Type']]

In [27]:
colnanvnr = np.where(pd.isnull(posmoderatelycorrelated['Mas_Vnr_Area']))
colnanvnr

(array([865]),)

In [28]:
masvnr.iloc[colnanvnr]

     Mas_Vnr_Area Mas_Vnr_Type
865           NaN          NaN

In [29]:
trainteger['Mas_Vnr_Area'] = trainteger['Mas_Vnr_Area'].fillna(0)

In [30]:
posmoderatelycorrelated = trainteger[['TotRms_AbvGrd', 'Mas_Vnr_Area', 'Garage_Yr_Blt', 'Full_Bath', 'Year_Remod/Add', 'Year_Built', '1st_Flr_SF', 'Total_Bsmt_SF', 'Garage_Cars', 'Garage_Area', 'Gr_Liv_Area']]

In [31]:
posmoderatelycorrelated.isnull().sum()

TotRms_AbvGrd      0
Mas_Vnr_Area       0
Garage_Yr_Blt     45
Full_Bath          0
Year_Remod/Add     0
Year_Built         0
1st_Flr_SF         0
Total_Bsmt_SF      0
Garage_Cars        0
Garage_Area        0
Gr_Liv_Area        0
dtype: int64

In [32]:
poshighlycorrelated = trainteger[['Overall_Qual']]
poshighlycorrelated

     Overall_Qual
0               6
1               5
2               7
3               5
4               6
..            ...
873             6
874             6
875             5
876             4
877             5

[878 rows x 1 columns]

In [33]:
test['Overall_Qual'].value_counts()

5     262
6     226
7     171
8     100
4      67
9      30
3      11
10      7
2       4
Name: Overall_Qual, dtype: int64

In [34]:
poshighlycorrelated.isnull().sum()

Overall_Qual    0
dtype: int64

In [35]:
trainteger.to_csv('../created_datasets/test_integer_cols_clean.csv')

### OBJECT COLUMNS
Everything proceeding, is my code to try and figure out object columns and how to best use them

In [36]:
objecttypes = test.dtypes[test.dtypes == object]
#https://thispointer.com/how-to-get-check-data-types-of-dataframe-columns-in-python-pandas/
objecttypes

MS_Zoning         object
Street            object
Alley             object
Lot_Shape         object
Land_Contour      object
Utilities         object
Lot_Config        object
Land_Slope        object
Neighborhood      object
Condition_1       object
Condition_2       object
Bldg_Type         object
House_Style       object
Roof_Style        object
Roof_Matl         object
Exterior_1st      object
Exterior_2nd      object
Mas_Vnr_Type      object
Exter_Qual        object
Exter_Cond        object
Foundation        object
Bsmt_Qual         object
Bsmt_Cond         object
Bsmt_Exposure     object
BsmtFin_Type_1    object
BsmtFin_Type_2    object
Heating           object
Heating_QC        object
Central_Air       object
Electrical        object
Kitchen_Qual      object
Functional        object
Fireplace_Qu      object
Garage_Type       object
Garage_Finish     object
Garage_Qual       object
Garage_Cond       object
Paved_Drive       object
Pool_QC           object
Fence             object
Misc_Feature      object
Sale_Type         object
dtype: object

In [37]:
objcolkeys = objecttypes.keys()
objcolkeys

Index(['MS_Zoning', 'Street', 'Alley', 'Lot_Shape', 'Land_Contour',
       'Utilities', 'Lot_Config', 'Land_Slope', 'Neighborhood', 'Condition_1',
       'Condition_2', 'Bldg_Type', 'House_Style', 'Roof_Style', 'Roof_Matl',
       'Exterior_1st', 'Exterior_2nd', 'Mas_Vnr_Type', 'Exter_Qual',
       'Exter_Cond', 'Foundation', 'Bsmt_Qual', 'Bsmt_Cond', 'Bsmt_Exposure',
       'BsmtFin_Type_1', 'BsmtFin_Type_2', 'Heating', 'Heating_QC',
       'Central_Air', 'Electrical', 'Kitchen_Qual', 'Functional',
       'Fireplace_Qu', 'Garage_Type', 'Garage_Finish', 'Garage_Qual',
       'Garage_Cond', 'Paved_Drive', 'Pool_QC', 'Fence', 'Misc_Feature',
       'Sale_Type'],
      dtype='object')

In [38]:
test[objcolkeys].isnull().sum()

MS_Zoning           0
Street              0
Alley             820
Lot_Shape           0
Land_Contour        0
Utilities           0
Lot_Config          0
Land_Slope          0
Neighborhood        0
Condition_1         0
Condition_2         0
Bldg_Type           0
House_Style         0
Roof_Style          0
Roof_Matl           0
Exterior_1st        0
Exterior_2nd        0
Mas_Vnr_Type        1
Exter_Qual          0
Exter_Cond          0
Foundation          0
Bsmt_Qual          25
Bsmt_Cond          25
Bsmt_Exposure      25
BsmtFin_Type_1     25
BsmtFin_Type_2     25
Heating             0
Heating_QC          0
Central_Air         0
Electrical          1
Kitchen_Qual        0
Functional          0
Fireplace_Qu      422
Garage_Type        44
Garage_Finish      45
Garage_Qual        45
Garage_Cond        45
Paved_Drive         0
Pool_QC           874
Fence             706
Misc_Feature      837
Sale_Type           0
dtype: int64

### What Object Columns To Convert To Integers

This is all based off of the Kaggle data dictionary given

What cols can be converted to integers
* Pool_QC
* Garage_Cond
* Garage_Qual
* Garage_Finish
* Fireplace_Qu
* Kitchen_Qual
* Central_Air
* Heating_QC
* Bsmt_Exposure
* Bsmt_Cond
* Bsmt_Qual
* Exter_Cond
* Exter_Qual

The rest of the object columns will be made into dummy columns to judge the actual correlation between the column in question and the saleprice

In [39]:
traindice = trainteger

In [40]:
traindice['Pool_QC'].value_counts()

Ex    3
TA    1
Name: Pool_QC, dtype: int64

In [41]:
qcvcpool = traindice['Pool_QC'].value_counts()

In [42]:
def pool_convert(x):
    if x == 'Gd':
        return 3
    elif x == 'Fa':
        return 1
    elif x == 'TA':
        return 2
    elif x == 'Ex':
        return 4
    elif x not in qcvcpool:
        return 0

In [43]:
traindice['Pool_QC'] = traindice['Pool_QC'].map(pool_convert)

In [44]:
traindice['Pool_QC'].value_counts()

0    874
4      3
2      1
Name: Pool_QC, dtype: int64

Pool Quality done, can proceed to Garage condition now

In [45]:
traindice['Garage_Cond'].value_counts()

TA    796
Fa     27
Po      6
Gd      3
Ex      1
Name: Garage_Cond, dtype: int64

In [46]:
traindice['Garage_Qual'].value_counts()

TA    782
Fa     42
Gd      6
Po      3
Name: Garage_Qual, dtype: int64

In [47]:
vcgarage = traindice['Garage_Qual'].value_counts()

In [48]:
def gar_convert(x):
    if x == 'Ex':
        return 5
    elif x == 'Gd':
        return 4
    elif x == 'TA':
        return 3
    elif x == 'Fa':
        return 2
    elif x == 'Po':
        return 1
    elif x not in vcgarage:
        return 0

In [49]:
traindice['Garage_Cond'] = traindice['Garage_Cond'].map(gar_convert)

In [50]:
traindice['Garage_Cond'].value_counts()

3    796
0     45
2     27
1      6
4      3
5      1
Name: Garage_Cond, dtype: int64

In [51]:
traindice['Garage_Qual'] = traindice['Garage_Qual'].map(gar_convert)

In [52]:
traindice['Garage_Qual'].value_counts()

3    782
0     45
2     42
4      6
1      3
Name: Garage_Qual, dtype: int64

In [53]:
traindice['Garage_Finish'].value_counts()

Unf    382
RFn    233
Fin    218
Name: Garage_Finish, dtype: int64

In [54]:
gfvc = traindice['Garage_Finish'].value_counts()

In [55]:
def garfield(x):
    if x == 'Fin':
        return 3
    elif x == 'RFn':
        return 2
    elif x == 'Unf':
        return 1
    elif x not in gfvc:
        return 0

In [56]:
traindice['Garage_Finish'] = traindice['Garage_Finish'].map(garfield)

In [57]:
traindice['Garage_Finish'].value_counts()

1    382
2    233
3    218
0     45
Name: Garage_Finish, dtype: int64

In [58]:
traindice['Fireplace_Qu'].value_counts()

Gd    220
TA    193
Fa     16
Po     15
Ex     12
Name: Fireplace_Qu, dtype: int64

In [59]:
traindice['Fireplace_Qu'] = traindice['Fireplace_Qu'].map(gar_convert)

In [60]:
traindice['Fireplace_Qu'].value_counts()

0    422
4    220
3    193
2     16
1     15
5     12
Name: Fireplace_Qu, dtype: int64

In [61]:
traindice['Kitchen_Qual'].value_counts()

TA    447
Gd    354
Ex     53
Fa     23
Po      1
Name: Kitchen_Qual, dtype: int64

In [62]:
traindice['Kitchen_Qual'] = traindice['Kitchen_Qual'].map(pool_convert)

In [63]:
traindice['Kitchen_Qual'].value_counts()

2    447
3    354
4     53
1     23
0      1
Name: Kitchen_Qual, dtype: int64

Finished with Kitchen Quality, onto central air

In [64]:
traindice['Central_Air'].value_counts()

Y    823
N     55
Name: Central_Air, dtype: int64

In [65]:
def ca_convert(x):
    if x == 'Y':
        return 1
    if x == 'N':
        return 0

In [66]:
traindice['Central_Air'] = traindice['Central_Air'].map(ca_convert)

In [67]:
traindice['Central_Air'].value_counts()

1    823
0     55
Name: Central_Air, dtype: int64

Finished with Central Air, onto Heating QC

In [68]:
traindice['Heating_QC'].value_counts()

Ex    429
TA    267
Gd    157
Fa     25
Name: Heating_QC, dtype: int64

In [69]:
traindice['Heating_QC'] = traindice['Heating_QC'].map(gar_convert)

In [70]:
traindice['Heating_QC'].value_counts()

5    429
3    267
4    157
2     25
Name: Heating_QC, dtype: int64

Finished with Heating QC, onto the basement columns (Bsmt_Qual, Bsmt_Cond, Bsmt_Exposure)

In [71]:
traindice['Bsmt_Qual'].value_counts()

TA    396
Gd    355
Ex     73
Fa     28
Po      1
Name: Bsmt_Qual, dtype: int64

In [72]:
traindice['Bsmt_Cond'].value_counts()

TA    781
Fa     39
Gd     33
Name: Bsmt_Cond, dtype: int64

In [73]:
traindice['Bsmt_Exposure'].value_counts()

No    567
Av    130
Gd     80
Mn     76
Name: Bsmt_Exposure, dtype: int64

In [74]:
traindice['Bsmt_Qual'] = traindice['Bsmt_Qual'].map(gar_convert)

In [75]:
traindice['Bsmt_Cond'] = traindice['Bsmt_Cond'].map(gar_convert)

In [76]:
traindice['Bsmt_Qual'].value_counts()

3    396
4    355
5     73
2     28
0     25
1      1
Name: Bsmt_Qual, dtype: int64

In [77]:
traindice['Bsmt_Cond'].value_counts()

3    781
2     39
4     33
0     25
Name: Bsmt_Cond, dtype: int64

## CREATE DUMMY COLUMN FOR BSMT COND 3 (TA)

In [78]:
Exposure_Val = traindice['Bsmt_Exposure'].value_counts()
Exposure_Val

No    567
Av    130
Gd     80
Mn     76
Name: Bsmt_Exposure, dtype: int64

In [79]:
def Exposure_Convert(x):
    if x == 'Gd':
        return 4
    if x == 'Av':
        return 3
    if x == 'Mn':
        return 2
    if x == 'No':
        return 1
    if x not in Exposure_Val:
        return 0

In [80]:
traindice['Bsmt_Exposure'] = traindice['Bsmt_Exposure'].map(Exposure_Convert)

In [81]:
traindice['Bsmt_Exposure'].value_counts()

1    567
3    130
4     80
2     76
0     25
Name: Bsmt_Exposure, dtype: int64

#### BSMT EXPOSURE NOT CORRELATED WITH SALEPRICE SIGNIFICANTLY

Finished with Basement columns, onto Exter Cond and Exter Qual

In [82]:
traindice['Exter_Cond'].value_counts()

TA    770
Gd     84
Fa     18
Ex      5
Po      1
Name: Exter_Cond, dtype: int64

In [83]:
traindice['Exter_Qual'].value_counts()

TA    552
Gd    292
Ex     25
Fa      9
Name: Exter_Qual, dtype: int64

In [84]:
traindice['Exter_Cond'] = traindice['Exter_Cond'].map(gar_convert)

In [85]:
traindice['Exter_Cond'].value_counts()

3    770
4     84
2     18
5      5
1      1
Name: Exter_Cond, dtype: int64

## CREATE DUMMY COLUMN FOR EXTER_COND 3 (TA)

In [86]:
traindice['Exter_Qual'] = traindice['Exter_Qual'].map(gar_convert)

In [87]:
traindice['Exter_Qual'].value_counts()

3    552
4    292
5     25
2      9
Name: Exter_Qual, dtype: int64

In [88]:
converted_cols = ['Pool_QC', 'Garage_Cond', 'Garage_Qual', 'Garage_Finish', 'Fireplace_Qu', 'Kitchen_Qual',
                  'Central_Air', 'Heating_QC', 'Bsmt_Cond', 'Bsmt_Qual', 'Bsmt_Exposure', 'Exter_Qual', 'Exter_Cond']

In [89]:
test[objcolkeys].isnull().sum()

MS_Zoning           0
Street              0
Alley             820
Lot_Shape           0
Land_Contour        0
Utilities           0
Lot_Config          0
Land_Slope          0
Neighborhood        0
Condition_1         0
Condition_2         0
Bldg_Type           0
House_Style         0
Roof_Style          0
Roof_Matl           0
Exterior_1st        0
Exterior_2nd        0
Mas_Vnr_Type        1
Exter_Qual          0
Exter_Cond          0
Foundation          0
Bsmt_Qual           0
Bsmt_Cond           0
Bsmt_Exposure       0
BsmtFin_Type_1     25
BsmtFin_Type_2     25
Heating             0
Heating_QC          0
Central_Air         0
Electrical          1
Kitchen_Qual        0
Functional          0
Fireplace_Qu        0
Garage_Type        44
Garage_Finish       0
Garage_Qual         0
Garage_Cond         0
Paved_Drive         0
Pool_QC             0
Fence             706
Misc_Feature      837
Sale_Type           0
dtype: int64

In [90]:
traindice.to_csv('../created_datasets/test_indice_cols_clean.csv')

In [91]:
objtypedice = traindice.dtypes[traindice.dtypes == object]

In [92]:
objtypedice.keys()

Index(['MS_Zoning', 'Street', 'Alley', 'Lot_Shape', 'Land_Contour',
       'Utilities', 'Lot_Config', 'Land_Slope', 'Neighborhood', 'Condition_1',
       'Condition_2', 'Bldg_Type', 'House_Style', 'Roof_Style', 'Roof_Matl',
       'Exterior_1st', 'Exterior_2nd', 'Mas_Vnr_Type', 'Foundation',
       'BsmtFin_Type_1', 'BsmtFin_Type_2', 'Heating', 'Electrical',
       'Functional', 'Garage_Type', 'Paved_Drive', 'Fence', 'Misc_Feature',
       'Sale_Type'],
      dtype='object')

In [93]:
traindummy = traindice

traindummy['Fireplace_Is4'] = (traindummy['Fireplace_Qu'] == 4).astype(int)
traindummy['Garage_Cond_Is3'] = (traindummy['Garage_Cond'] == 3).astype(int)
traindummy['Garage_Qual_Is3'] = (traindummy['Garage_Qual'] == 3).astype(int)
traindummy['Bsmt_Cond_Is3'] = (traindummy['Bsmt_Cond'] == 3).astype(int)
traindummy['Exter_Cond_Is3'] = (traindummy['Exter_Cond'] == 3).astype(int)

traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Misc_Feature,Misc_Val,Mo_Sold,Yr_Sold,Sale_Type,Fireplace_Is4,Garage_Cond_Is3,Garage_Qual_Is3,Bsmt_Cond_Is3,Exter_Cond_Is3
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,NaN,0,4,2006,WD,0,0,0,1,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,NaN,0,8,2006,WD,0,1,1,1,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,NaN,0,9,2006,New,1,1,1,0,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,NaN,0,7,2007,WD,0,1,0,1,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,NaN,0,7,2009,WD,1,1,1,1,1

In [94]:
traindummy['Year_Built_Above_2k'] = (traindummy['Year_Built'] >= 2000).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Misc_Val,Mo_Sold,Yr_Sold,Sale_Type,Fireplace_Is4,Garage_Cond_Is3,Garage_Qual_Is3,Bsmt_Cond_Is3,Exter_Cond_Is3,Year_Built_Above_2k
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,4,2006,WD,0,0,0,1,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,8,2006,WD,0,1,1,1,1,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,9,2006,New,1,1,1,0,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,7,2007,WD,0,1,0,1,1,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,7,2009,WD,1,1,1,1,1,0

In [95]:
traindummy['Year_Remod_Above_2k'] = (traindummy['Year_Remod/Add'] >= 2000).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Mo_Sold,Yr_Sold,Sale_Type,Fireplace_Is4,Garage_Cond_Is3,Garage_Qual_Is3,Bsmt_Cond_Is3,Exter_Cond_Is3,Year_Built_Above_2k,Year_Remod_Above_2k
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,4,2006,WD,0,0,0,1,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,8,2006,WD,0,1,1,1,1,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,9,2006,New,1,1,1,0,1,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,7,2007,WD,0,1,0,1,1,0,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,7,2009,WD,1,1,1,1,1,0,0

In [96]:
traindummy['Neighborhood'].isnull().sum()

0

In [97]:
nbhd_quant_dict = {'MeadowV': 'Quantile_1', 'IDOTRR': 'Quantile_1', 'BrDale': 'Quantile_1', 
                   'OldTown': 'Quantile_1', 'BrkSide': 'Quantile_1', 'Edwards': 'Quantile_1',
                  'SWISU': 'Quantile_2', 'Landmrk': 'Quantile_2', 'Sawyer': 'Quantile_2', 'NPkVill': 'Quantile_2',
                  'Blueste': 'Quantile_2', 'NAmes':'Quantile_3', 'Mitchel':'Quantile_3', 'SawyerW':'Quantile_3',
                  'Greens':'Quantile_3', 'Gilbert':'Quantile_3', 'NWAmes':'Quantile_3', 'Blmngtn':'Quantile_4',
                  'CollgCr':'Quantile_4', 'Crawfor':'Quantile_4', 'ClearCr':'Quantile_4', 'Somerst':'Quantile_4',
                  'Timber':'Quantile_5', 'Veenker':'Quantile_5', 'GrnHill':'Quantile_5', 'NoRidge':'Quantile_5',
                  'NridgHt':'Quantile_5', 'StoneBr':'Quantile_5'}

traindummy['Nbhd'] = traindummy['Neighborhood'].map(nbhd_quant_dict)

traindummy = pd.get_dummies(traindummy, columns = ['Nbhd'])
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Garage_Qual_Is3,Bsmt_Cond_Is3,Exter_Cond_Is3,Year_Built_Above_2k,Year_Remod_Above_2k,Nbhd_Quantile_1,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,1,0,0,0,1,0,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,1,1,0,0,0,1,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,0,1,1,1,0,0,1,0,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,1,1,0,1,1,0,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,1,1,0,0,0,0,1,0,0

In [98]:
traindummy['Sale_Type_Is_New'] = (traindummy['Sale_Type'] == 'New').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Bsmt_Cond_Is3,Exter_Cond_Is3,Year_Built_Above_2k,Year_Remod_Above_2k,Nbhd_Quantile_1,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,1,0,0,0,1,0,0,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,1,0,0,0,1,0,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,1,1,1,0,0,1,0,0,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,1,0,1,1,0,0,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,1,0,0,0,0,1,0,0,0

In [99]:
traindummy['Functional_Is_Bad'] = (traindummy['Functional'].isin(['Maj2', 'Sev', 'Sal'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Exter_Cond_Is3,Year_Built_Above_2k,Year_Remod_Above_2k,Nbhd_Quantile_1,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New,Functional_Is_Bad
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,1,0,0,0,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,0,0,0,1,0,0,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,1,1,0,0,1,0,0,1,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,0,1,1,0,0,0,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,1,0,0,0,0

In [100]:
traindummy['Garage_Type'].value_counts()

Attchd     518
Detchd     246
BuiltIn     53
Basment      9
CarPort      4
2Types       4
Name: Garage_Type, dtype: int64

In [101]:
traindummy['Garage_Type'].replace({'Basment':'Basement'}, inplace = True)

In [102]:
traindummy['Garage_Type_Is_Valued'] = (traindummy['Garage_Type'].isin(['Detchd', 'Basement'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Year_Built_Above_2k,Year_Remod_Above_2k,Nbhd_Quantile_1,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New,Functional_Is_Bad,Garage_Type_Is_Valued
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,1,0,0,0,0,0,0,1
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,1,0,0,0,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,1,0,0,1,0,0,1,0,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,1,1,0,0,0,0,0,0,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,0,0,1,0,0,0,0,0

In [103]:
traindummy['MS_Zoning_Is_Valued'] = (traindummy['MS_Zoning'].isin(['RL', 'FV'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Year_Remod_Above_2k,Nbhd_Quantile_1,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New,Functional_Is_Bad,Garage_Type_Is_Valued,MS_Zoning_Is_Valued
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,1,0,0,0,0,0,0,1,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,1,0,0,0,0,0,0,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,0,0,1,0,0,1,0,0,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,1,0,0,0,0,0,0,1,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,0,1,0,0,0,0,0,1

In [104]:
traindummy['Street_Is_Paved'] = (traindummy['Street'] == 'Pave').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Nbhd_Quantile_1,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New,Functional_Is_Bad,Garage_Type_Is_Valued,MS_Zoning_Is_Valued,Street_Is_Paved
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,1,0,0,0,0,0,0,1,0,1
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,1,0,0,0,0,0,0,1,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,1,0,0,1,0,0,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,0,0,0,0,0,0,1,0,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,1,0,0,0,0,0,1,1

In [105]:
traindummy['Alley_Is_Paved'] = (traindummy['Alley'] == 'Pave').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Nbhd_Quantile_2,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New,Functional_Is_Bad,Garage_Type_Is_Valued,MS_Zoning_Is_Valued,Street_Is_Paved,Alley_Is_Paved
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,0,0,0,1,0,1,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,0,0,1,1,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,1,0,0,1,0,0,1,1,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,0,0,0,1,0,1,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,1,0,0,0,0,0,1,1,0

In [106]:
traindummy['Utilities_Is_Bad'] = (traindummy['Utilities'] != 'AllPub').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Nbhd_Quantile_3,Nbhd_Quantile_4,Nbhd_Quantile_5,Sale_Type_Is_New,Functional_Is_Bad,Garage_Type_Is_Valued,MS_Zoning_Is_Valued,Street_Is_Paved,Alley_Is_Paved,Utilities_Is_Bad
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,0,0,1,0,1,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,0,0,0,1,1,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,0,0,1,0,0,1,1,0,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,0,0,1,0,1,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,0,1,1,0,0

In [107]:
traindummy['Condition_2_Is_Pos'] = (traindummy['Condition_2'].isin(['PosA', 'PosN'])).astype(int)
traindummy['Condition_1_Is_Pos'] = (traindummy['Condition_1'].isin(['PosA', 'PosN'])).astype(int)
traindummy['Condition_1_Is_Norm'] = (traindummy['Condition_1'] == 'Norm').astype(int)
traindummy['Condition_2_Is_Norm'] = (traindummy['Condition_1'] == 'Norm').astype(int)

traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Functional_Is_Bad,Garage_Type_Is_Valued,MS_Zoning_Is_Valued,Street_Is_Paved,Alley_Is_Paved,Utilities_Is_Bad,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,1,0,1,0,0,0,0,1,1
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,1,1,0,0,0,0,1,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,1,1,0,0,0,0,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,1,0,1,0,0,0,0,1,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,1,1,0,0,0,0,1,1

In [108]:
traindummy['Lot_Shape_Is_IR'] = (traindummy['Lot_Shape'].isin(['IR1', 'IR2', 'IR3'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Garage_Type_Is_Valued,MS_Zoning_Is_Valued,Street_Is_Paved,Alley_Is_Paved,Utilities_Is_Bad,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,1,0,1,0,0,0,0,1,1,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,1,1,0,0,0,0,1,1,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,1,1,0,0,0,0,1,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,0,1,0,0,0,0,1,1,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,1,1,0,0,0,0,1,1,1

In [109]:
traindummy['Roof_Style_Is_Hip'] = (traindummy['Roof_Style'] == 'Hip').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,MS_Zoning_Is_Valued,Street_Is_Paved,Alley_Is_Paved,Utilities_Is_Bad,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,1,0,0,0,0,1,1,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,1,0,0,0,0,1,1,1,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,1,0,0,0,0,1,1,1,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,1,0,0,0,0,1,1,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,1,0,0,0,0,1,1,1,0

In [110]:
traindummy['Foundation_Is_PConc'] = (traindummy['Foundation'] == 'PConc').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Street_Is_Paved,Alley_Is_Paved,Utilities_Is_Bad,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,1,0,0,0,0,1,1,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,1,1,1,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,1,1,1,0,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,0,0,0,0,1,1,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,1,1,1,0,0

In [111]:
traindummy['Heating_Is_Ideal'] = (traindummy['Heating'] == 'GasA').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Alley_Is_Paved,Utilities_Is_Bad,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,0,1,1,0,0,0,1
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,0,1,1,1,0,0,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,0,1,1,1,0,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,0,1,1,0,0,0,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,0,0,1,1,1,0,0,1

In [112]:
traindummy['BsmtFin_Type_1_Is_GLQ'] = (traindummy['BsmtFin_Type_1'] == 'GLQ').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Utilities_Is_Bad,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,1,1,0,0,0,1,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,1,1,1,0,0,1,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,1,1,1,0,1,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,1,1,0,0,0,1,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,0,1,1,1,0,0,1,0

In [113]:
traindummy['Exterior_1st_Good'] = (traindummy['Exterior_1st'].isin(['VinylSd', 'Stone', 'ImStucc', 'CemntBd', 'BrkFace'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Condition_2_Is_Pos,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ,Exterior_1st_Good
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,1,1,0,0,0,1,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,1,1,1,0,0,1,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,1,1,1,0,1,1,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,1,1,0,0,0,1,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,1,1,1,0,0,1,0,0

In [114]:
traindummy['Exterior_2nd_Good'] = (traindummy['Exterior_2nd'].isin(['VinylSD', 'ImStucc', 'CmentBd'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Condition_1_Is_Pos,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ,Exterior_1st_Good,Exterior_2nd_Good
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,1,1,0,0,0,1,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,1,1,1,0,0,1,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,1,1,1,0,1,1,1,1,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,1,1,0,0,0,1,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,1,1,1,0,0,1,0,0,0

In [115]:
traindummy['Fence_Valued'] = (traindummy['Fence'] == 'GdPrv').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Condition_1_Is_Norm,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ,Exterior_1st_Good,Exterior_2nd_Good,Fence_Valued
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,1,1,0,0,0,1,0,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,1,1,0,0,1,0,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,1,1,0,1,1,1,1,0,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,1,0,0,0,1,0,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,1,1,0,0,1,0,0,0,0

In [116]:
traindummy['Mas_Vnr_Type_Good'] = (traindummy['Mas_Vnr_Type'].isin(['BrkFace', 'Stone'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Condition_2_Is_Norm,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ,Exterior_1st_Good,Exterior_2nd_Good,Fence_Valued,Mas_Vnr_Type_Good
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,1,0,0,0,1,0,0,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,1,0,0,1,0,0,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,1,0,1,1,1,1,0,0,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,1,0,0,0,1,0,0,0,0,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,1,0,0,1,0,0,0,0,1

In [117]:
traindummy['Bldg_Type_Good'] = (traindummy['Bldg_Type'].isin(['1Fam', 'TwnhsE'])).astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Lot_Shape_Is_IR,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ,Exterior_1st_Good,Exterior_2nd_Good,Fence_Valued,Mas_Vnr_Type_Good,Bldg_Type_Good
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,1,0,0,0,0,0,0
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,1,0,0,1,0,0,0,0,0,0
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,1,0,1,1,1,1,0,0,0,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,1,0,0,0,0,0,1
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,1,0,0,1,0,0,0,0,1,1

In [118]:
traindummy['Paved_Drive_Yes'] = (traindummy['Paved_Drive'] == 'Y').astype(int)
traindummy.head()

,Id,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,...,Roof_Style_Is_Hip,Foundation_Is_PConc,Heating_Is_Ideal,BsmtFin_Type_1_Is_GLQ,Exterior_1st_Good,Exterior_2nd_Good,Fence_Valued,Mas_Vnr_Type_Good,Bldg_Type_Good,Paved_Drive_Yes
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,1,0,0,0,0,0,0,1
1,2718,905108090,90,RL,0.0,9662,Pave,NaN,IR1,Lvl,...,0,0,1,0,0,0,0,0,0,1
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,1,1,1,1,0,0,0,1,1
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,1,0,0,0,0,0,1,0
4,625,535105100,20,RL,0.0,9500,Pave,NaN,IR1,Lvl,...,0,0,1,0,0,0,0,1,1,1

In [119]:
traindummy.to_csv('../created_datasets/test_etc_cols_clean.csv')

In [120]:
traindummy.columns = traindummy.columns.str.lower()
traindummy.columns

Index(['id', 'pid', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street', 'alley', 'lot_shape', 'land_contour',
       ...
       'roof_style_is_hip', 'foundation_is_pconc', 'heating_is_ideal',
       'bsmtfin_type_1_is_glq', 'exterior_1st_good', 'exterior_2nd_good',
       'fence_valued', 'mas_vnr_type_good', 'bldg_type_good',
       'paved_drive_yes'],
      dtype='object', length=114)

In [121]:
traindummy.to_csv('../created_datasets/test_clean.csv')